<!--</footer>-->
<footer class="site-footer widgets" role="contentinfo">
    <div class="col-width">
        <div class="widget-area" role="complementary">
            <aside id="text-4" class="widget widget_text">
                <div class="textwidget">Talk is cheap</a></div>
            </aside>
        </div>
    </div>
    <!-- .col-width -->
</footer>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b4cd947a1a72530619b1feb29ccc738a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b4cd947a1a72530619b1feb29ccc738a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63460307-1', 'auto');
    ga('send', 'pageview');

</script>